@charset "UTF-8";
:root {
  --primary-text-color: #212121;
  --title-text-color: #ffffff;
  --accent-color: #2196f3;
  --info-text: #757575;
  --bgc-color: #2f303a;
  --logo-color: #000000;
  --icon-background: #f5f4fa;
  --icon-social: #afb1b8;
}

body {
  color: var(--primary-text-color);
  background-color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
}

.checkbox-custom {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.customers__link, .contacts__element, .header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul,
h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (max-width: 1199px) {
  .section__no-mob {
    display: none;
  }
}

.no-section {
  padding-bottom: 0;
}

.section--bcg {
  background-color: #f5f4fa;
}

.header {
  width: 100%;
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 480px), (max-width: 479px) {
  .header__nav-header {
    display: none;
  }
}
@media screen and (min-width: 768px), (max-width: 767px) {
  .header {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .header {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
@media screen and (min-width: 768px) {
  .header__nav-header {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav-header {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.btn-menu-mob {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .btn-menu-mob {
    display: none;
  }
}

.btn-menu-mob .icon-menu-close {
  display: none;
}

.btn-menu-mob.is-open .icon-menu-close {
  display: block;
}

.btn-menu-mob.is-open .icon-menu-open {
  display: block;
}

.button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 216px;
  text-align: center;
  font-family: "Roboto";
  background-color: var(--accent-color);
  color: var(--title-text-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 1px solid transparent;
}

.logo__onepart {
  font-family: "Raleway";
  color: var(--logo-color);
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo__twopart {
  color: var(--accent-color);
}
@media screen and (min-width: 480px), (max-width: 479px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  background-color: rgba(47, 48, 58, 0.4);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
  padding: 93px 15px 94px 15px;
  overflow-y: scroll;
}
@media screen and (min-width: 768px) {
  .backdrop {
    padding: 0;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 0;
  list-style: none;
}
.list__item {
  margin-right: 50px;
}
.list__item:last-child {
  margin-right: 0;
}
.list__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list__link:hover, .list__link:focus {
  color: var(--accent-color);
}
.list__current:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  /*display: block;*/
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 1;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list__studio {
  color: var(--accent-color);
}
.list__studio:visited {
  color: var(--accent-color);
}

.contacts {
  /* display: flex;*/
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__element {
  /*margin-left: 318px;*/
  /*padding-top: 32px;
  padding-bottom: 32px;*/
  color: var(--info-text);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__element:hover, .contacts__element:focus {
  color: var(--accent-color);
}
.contacts__element:last-child {
  margin-right: 0;
  margin-left: 0;
}
@media screen and (min-width: 768px) {
  .contacts__element:first-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__element:first-child {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
.contacts__icon-mal {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
.contacts__icon-tel {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .contacts {
    margin-left: 68px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    margin-left: 321px;
  }
}

.title {
  margin: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Header-img-mob.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header-img-mob.jpg);
  background-repeat: no-repeat;
  max-width: 480px;
  background-position: center;
}
.title__name {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--title-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.4;
  /*text-align: center;*/
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .title__name {
    font-size: 44px;
  }
}
@media screen and (min-width: 768px) {
  .title {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Header-img1x-header-tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header-img1x-header-tablet.jpg);
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
    background-size: 1600px;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

/*Оформлення модального вікна*/
.modal {
  position: absolute;
  width: 100%;
  max-width: 450px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--title-text-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__button-close {
  text-align: center;
}
.modal__form {
  margin: 40px;
}
.modal__text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.modal__form-field {
  margin-bottom: 10px;
}
.modal__form-field label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4px;
  text-align: left;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--info-text);
}
.modal__field-agreement {
  margin-top: 20px;
  margin-bottom: 30px;
}
.modal__form-field textarea {
  width: 100%;
  height: 120px;
  padding-top: 12px;
  padding-left: 16px;
  padding-bottom: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-field textarea::-webkit-input-placeholder {
  /*padding-top: 12px;
  padding-left: 16px;*/
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-field textarea::-moz-placeholder {
  /*padding-top: 12px;
  padding-left: 16px;*/
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-field textarea:-ms-input-placeholder {
  /*padding-top: 12px;
  padding-left: 16px;*/
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-field textarea::-ms-input-placeholder {
  /*padding-top: 12px;
  padding-left: 16px;*/
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-field textarea::placeholder {
  /*padding-top: 12px;
  padding-left: 16px;*/
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (min-width: 768px) {
  .modal {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}
@media screen and (max-width: 1199px) {
  .modal {
    overflow-y: scroll;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.form-field--fixed {
  margin-bottom: 0;
  max-height: 137px;
}

.textarea:focus {
  border: 1px solid #2196f3;
}

.button-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  cursor: pointer;
  margin-top: 8px;
  margin-right: 8px;
}
.button-close__icon {
  /*position: absolute;
  display: flex;*/
  width: 18px;
  height: 18px;
  margin-top: 5px;
  fill: var(--logo-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close__icon:hover {
  fill: var(--accent-color);
}

.form-field {
  position: relative;
  /*margin-bottom: 10px;*/
  padding: 0;
}
.form-field__input-focus {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__input-focus:focus {
  border: 1px solid var(--accent-color);
}
.form-field__input-focus:focus + .form-field__icon-person {
  fill: var(--accent-color);
}
.form-field__icon-person {
  position: absolute;
  margin-top: 11px;
  margin-bottom: 11px;
  margin-left: 12px;
  left: 0;
  width: 18px;
  height: 18px;
  fill: var(--primary-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-custom {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox-custom__icon-span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
}
@media screen and (min-width: 1200px) {
  .checkbox-custom__icon-span {
    margin-left: 13px;
  }
}
.checkbox-custom:checked + .checkbox-custom__icon-span {
  border-color: var(--accent-color);
  background-image: url(../images/icon\ check.svg);
  background-color: var(--accent-color);
  background-size: cover;
  background-origin: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.svg-checkbox {
  width: 16px;
  height: 15px;
}

.field-agreement__text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--info-text);
}
@media screen and (min-width: 1200px) {
  .field-agreement__text {
    font-size: 14px;
    line-height: 2;
  }
}
.field-agreement__post-text {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--info-text);
}
@media screen and (min-width: 1200px) {
  .field-agreement__post-text {
    font-size: 14px;
  }
}
.field-agreement__link {
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .field-agreement__link {
    font-size: 14px;
  }
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
@media screen and (min-width: 480px) {
  .details__item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .details__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .details__item {
    width: calc((100% - 90px) / 4);
  }
}
.details__item:last-child {
  margin-right: 0;
}
@media screen and (min-width: 480px) {
  .details__item:last-child {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 480px) {
  .details__item:last-child {
    margin-right: 0;
  }
}
.details__icon-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  /*text-align: center;*/
  border-radius: 4px;
  background-color: #f5f4fa;
}
@media screen and (min-width: 480px), (max-width: 479px) {
  .details__icon-background {
    width: 100%;
  }
}
.details__icon-svg {
  width: 70px;
  height: 70px;
  /* margin: 25px 100px;*/
  fill: currentColor;
}
.details__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.details__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 480px), (max-width: 479px) {
  .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .details {
    text-align: left;
  }
}

.title-section {
  margin-top: 0;
  /* margin-bottom: 50px;*/
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.title-section__margin {
  margin-bottom: 30px;
}
@media screen and (max-width: 480px) {
  .title-section {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .title-section {
    margin-bottom: 50px;
  }
}

.aplications {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /*height: 294px;*/
  margin-right: 30px;
  /*&__box:last-child {
   margin-right: 0;}*/
}
.aplications:last-child {
  margin-right: 0;
}
.aplications__box {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: default;
  height: 294px;
  /*margin-right: auto;*/
}
.aplications__name {
  position: absolute;
  bottom: 0;
  /*display: flex;*/
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--title-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

@media screen and (min-width: 480px), (max-width: 479px) {
  .section-worker {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.employees {
  padding: 0;
  list-style: none;
  background: var(--title-text-color);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.employees__personnel {
  padding-top: 30px;
}
.employees__worker {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  list-style: none;
  letter-spacing: 0.03em;
  text-align: center;
}
.employees__workplace {
  margin-top: 0;
  /* margin-bottom: 30px;*/
  color: var(--info-text);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .employees {
    width: 100%;
    height: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 767px) {
  .employees {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .employees {
    width: calc((100% - 90px) / 4);
  }
}

.employees:last-child {
  margin-right: 0;
}

.social {
  margin: 16px 10px 30px 32px;
}

.icon-social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /*width: 20px;
  height: 20px;*/
  text-decoration: none;
}
.icon-social__margin {
  margin-right: 10px;
}
.icon-social__margin:last-child {
  margin-right: 0;
}
.icon-social__position {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  /*background: rgba(255, 255, 255, 0.1);*/
  color: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social__position:hover, .icon-social__position:focus {
  background-color: var(--accent-color);
  color: var(--title-text-color);
}
.icon-social__svg {
  width: 20px;
  height: 20px;
  margin: 12px;
  fill: currentColor;
}
.icon-social__icon-position-footer {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.1);
  color: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*background-color: var(--accent-color);*/
}
.icon-social__icon-position-footer:hover, .icon-social__icon-position-footer:focus {
  background-color: var(--accent-color);
}
.icon-social__icon-soc-footer {
  width: 20px;
  height: 20px;
  margin: 12px;
  fill: var(--title-text-color);
}

.customers {
  text-decoration: none;
  list-style: none;
}
.customers__link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 210px;
  height: 92px;
  /*margin: auto;*/
  color: var(--icon-social);
  border: 1px solid var(--icon-social);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .customers__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__link {
    width: 170px;
  }
}
.customers__link:hover, .customers__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.customers__icon {
  width: 106px;
  height: 60px;
  /*margin: 16px 32px;*/
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__icon:hover, .customers__focus {
  color: var(--accent-color);
}

.customers:last-child {
  margin-right: 0;
}

@media screen and (min-width: 480px), (max-width: 479px) {
  .customers-clients {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    text-decoration: none;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-color: var(--bgc-color);
}
@media screen and (min-width: 480px) {
  .footer__social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__social-icons {
    gap: 0;
  }
}
.footer__social:last-child {
  margin-right: 0;
}

.footer-logo {
  margin-bottom: 20px;
}
.footer-logo__firstpart {
  font-family: "Raleway";
  color: var(--title-text-color);
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.footer-logo__twopart {
  color: var(--accent-color);
}

.footer-contacts__address {
  margin-bottom: 9px;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.footer-contacts__address:hover, .footer-contacts__adress:focus {
  color: var(--accent-color);
}
.footer-contacts__mail-tel {
  display: block;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__mail-tel:last-child {
  margin-bottom: 0;
}
.footer-contacts__mail-tel:hover, .footer-contacts__mail-tel:focus {
  color: var(--accent-color);
}
.footer-contacts__following {
  /*position: relative;*/
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
@media screen and (min-width: 768px) {
  .footer-contacts {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-contacts:first-child {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts:first-child {
    margin-right: 70px;
  }
}
@media screen and (min-width: 768px) {
  .footer-contacts:first-child:last-child {
    padding-top: 5px;
  }
}

.buttons {
  display: inline-block;
  padding: 6px 22px;
  border: 1px solid transparent;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons:hover, .buttons:focus {
  background-color: var(--accent-color);
  color: var(--title-text-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.menu-nav {
  text-align: center;
}

.nav-portfolio {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 50px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 15px;
}
.nav-portfolio__item {
  margin-right: 8px;
}
.nav-portfolio__item:last-child {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .nav-portfolio {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .nav-portfolio {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.photo-projects {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.photo-projects:nth-last-child(3n) {
  margin-right: 0;
}
.photo-projects__detail {
  /* position: relative;*/
  text-align: left;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*border-bottom: 1px solid #eeeeee;*/
}
.photo-projects__detail:hover .position-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.photo-projects__detail:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.photo-projects__box {
  position: relative;
  overflow: hidden;
  height: 294px;
}
.photo-projects__position-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 24px;
  padding-left: 24px;
  /*opacity: 0.5;*/
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--title-text-color);
  background-color: rgba(33, 150, 243, 0.9);
}
@media screen and (min-width: 480px) {
  .photo-projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .photo-projects {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .photo-projects {
    width: 100%;
  }
}

/*Позиціонування спливаючого тексту*/
.frame {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.frame__projects {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.frame__jobs {
  /* margin: 0 24px 20px;*/
  color: var(--info-text);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.form-footer input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  color: var(--title-text-color);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}
.form-footer input input::-webkit-input-placeholder {
  /* padding-left: 16px;*/
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-footer input input::-moz-placeholder {
  /* padding-left: 16px;*/
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-footer input input:-ms-input-placeholder {
  /* padding-left: 16px;*/
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-footer input input::-ms-input-placeholder {
  /* padding-left: 16px;*/
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-footer input input::placeholder {
  /* padding-left: 16px;*/
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .form-footer input {
    width: 358px;
    margin-left: 93px;
  }
}

.button-footer {
  position: relative;
  padding: 10px 62px 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  cursor: pointer;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid var(--accent-color);
}
.button-footer__icon-telegram {
  position: absolute;
  top: 12px;
  right: 28px;
  bottom: 13px;
  /*margin-left: 10px;*/
  /*margin: 13px 8px 13px 10px;*/
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 480px) {
  .button-footer {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .button-footer {
    margin-top: 0;
    margin-left: 12px;
  }
}

.mob-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  padding: 48px;
  background-color: #fff;
  overflow-y: scroll;
}

.btn-menu-mob-close {
  display: inline-block;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.mob-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  fill: var(--logo-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-icon:hover {
  fill: var(--accent-color);
}

.mob-list__item {
  padding-top: 32px;
  list-style: none;
}
.mob-list__item:first-child {
  padding-top: 0;
}
.mob-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}
.mob-list__current {
  color: var(--accent-color);
}

.mob-contacts {
  margin-bottom: 64px;
  list-style: none;
}
.mob-contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.mob-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

.mob-social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mob-social-menu__text {
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}
.mob-social-menu__link {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  list-style: none;
}
.mob-social-menu__link:last-child {
  border-right: none;
}
.mob-social-menu__link:first-child {
  padding-left: 0;
}

.mob-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mob-mail-tel {
  margin-bottom: 32px;
}

.mob-mail-tel:last-child {
  margin-bottom: 0;
}/*# sourceMappingURL=main.css.map */