.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(47, 48, 58, 0.4);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 2;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: visible;
}

.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}