.button-footer {
    position: relative;
    padding: 10px 62px 10px 28px;
    // margin-left: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    cursor: pointer;

    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid  var(--accent-color);

&__icon-telegram {
        position: absolute;
        top: 12px;
        right: 28px;
        bottom: 13px;

        /*margin-left: 10px;*/

        /*margin: 13px 8px 13px 10px;*/
        width: 24px;
        height: 24px;
    }


@media screen and (min-width:480px) {
  margin-top: 20px;
}
@media screen and (min-width:1200px) {
    margin-left: 12px;
}
}

