.button-close {
    position: absolute;
    top: 0;
    right: 0;
    // display: inline-block;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    cursor: pointer;

    margin-top: 8px;
    margin-right: 8px;
    // float: right;

    &__icon {
        /*position: absolute;
      display: flex;*/
        width: 18px;
        height: 18px;
        margin-top: 5px;
        fill: var(--logo-color);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__icon:hover {
        fill: var(--accent-color);
    }
}
