.aplications{
    display: inline-flex;
   /*height: 294px;*/
    margin-right: 30px;
&:last-child{margin-right: 0;}    


&__box{
    position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        cursor: default;
        
        height: 294px;
        /*margin-right: auto;*/
    }
 /*&__box:last-child {
     margin-right: 0;}*/

 &__name{position: absolute;
    bottom: 0;

    /*display: flex;*/
    padding-top: 27px;
    padding-bottom: 27px;
    margin: 0;
    width: 100%;
    height: 70px;
@include font(700, 14, 1.6, 0.03);
    
    text-transform: uppercase;
    text-align: center;
    color: var(--title-text-color);
    background-color: rgba(47, 48, 58, 0.8);

 }    
}

