.photo-projects {
    justify-content: center;

    padding: 0;
    margin: 0;
    list-style: none;

    &:nth-last-child(3n) {
        margin-right: 0;
    }

    &__detail {
        /* position: relative;*/
        text-align: left;
        box-shadow: none;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

        /*border-bottom: 1px solid #eeeeee;*/
        &:hover .position-text {
            transform: translateY(0);
        }

        &:hover {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    }

    &__box {
        position: relative;
        overflow: hidden;
        height: 294px;
    }

    &__position-text {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

        display: flex;
        padding-right: 24px;
        padding-left: 24px;
        /*opacity: 0.5;*/
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.03em;
        text-align: left;
        align-items: center;
        justify-content: center;
        color: var(--title-text-color);
        background-color: rgba(33, 150, 243, 0.9);
    }

    @media screen and (min-width: 480px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        // width: 100%;
    }

    @media screen and (min-width: 768px) {
        width: 100%;
    }

    @media screen and (min-width: 1200px) {
        width: 100%;
    }
}

/*Позиціонування спливаючого тексту*/

.frame {
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    &__projects {
        margin-bottom: 4px;

        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }
    &__jobs {
        /* margin: 0 24px 20px;*/

        color: var(--info-text);
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.03em;
    }
}
