.menu-nav {
    text-align: center;
}

.nav-portfolio {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 50px;

    list-style: none;
    display: flex;
    flex-wrap: wrap;
     row-gap:15px;
&__item{margin-right: 8px;}

&__item:last-child{margin-right: 0;}

  @media screen and (min-width:768px) {
      justify-content:center ;
 }
   @media screen and (min-width:1200px) {
       justify-content: center;
   }
}
