.contacts {
    /* display: flex;*/
    margin-left: auto;
    align-items: center;
    &__element {
        // width: 100%;
        //     height: 100%;

        @extend %flex-align;
        // margin-right: 30px;
        /*margin-left: 318px;*/
        /*padding-top: 32px;
        padding-bottom: 32px;*/

        color: var(--info-text);
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__element:hover,
    &__element:focus {
        color: var(--accent-color);
    }

    &__element:last-child {
        margin-right: 0;
        margin-left: 0;
    }

    &__element:first-child {
        @media screen and (min-width: 768px) {
            margin-bottom: 10px;
        }

        @media screen and (min-width: 1200px) {
            margin-right: 30px;
            margin-bottom: 0;
        }
    }

    &__icon-mal {
        width: 16px;
        height: 16px;
        margin-right: 10px;
        fill: currentColor;
    }

    &__icon-tel {
        width: 16px;
        height: 16px;
        margin-right: 10px;
        fill: currentColor;
    }

    @media screen and (min-width: 768px) {
        & {
            margin-left: 68px;
            //   padding-top: 10px;
            justify-content: flex-end;
        }
    }

    @media screen and (min-width: 1200px) {
        & {
            margin-left: 321px;
            //   padding-top: 10px;
            //  justify-content: flex-end;
        }
    }
}
