.customers {
    // display: inline-flex;
    //     margin-right: 26px;

    text-decoration: none;
    list-style: none;

    &__link {
        justify-content: center;
        @extend %flex-align;
        width: 210px;
        height: 92px;

        /*margin: auto;*/
        color: var(--icon-social);
        border: 1px solid var(--icon-social);
        border-radius: 4px;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 768px) {
            width: 226px;
        }
        @media screen and (min-width: 1200px) {
            width: 170px;
        }
    }
    &__link:hover,
    &__link:focus {
        color: var(--accent-color);
        border: 1px solid var(--accent-color);
    }

    &__icon {
        width: 106px;
        height: 60px;
        /*margin: 16px 32px;*/

        fill: currentColor;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__icon:hover,
    &__focus {
        color: var(--accent-color);
    }
}

.customers:last-child {
    margin-right: 0;
}

.customers-clients {
    @media screen and (min-width: 480px), (max-width: 479px) {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        // width: calc((100% - 30px)/2);

        text-decoration: none;
    }
}
