.field-agreement{

&__text{position: relative;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: var(--info-text);

    @media screen and (min-width:1200px) {
        font-size: 14px;
            line-height: 2;
        }
}   

&__post-text {
    position: relative;
            
    align-items: center;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--info-text);
 
@media screen and (min-width:1200px) {
        font-size: 14px;
       
    }
}

&__link{ 
    font-size: 12px;
    line-height: 1.7;

    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-color);
   
@media screen and (min-width:1200px) {
        font-size: 14px;
        
    }
}
}