.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    
    text-align: center;
    background-color: var(--bgc-color);

&__social-icons{
    // @media screen and (max-width:480px) {
    //         flex-wrap: wrap;
    //         justify-content: center;;
    //     }

@media screen and (min-width:480px) {
   display: flex;
   flex-wrap: wrap ;
   gap: 60px;
   justify-content: center;
}
@media screen and (min-width:768px) {
// justify-content: space-between;
    gap: 0;
    
}
}

&__social:last-child{margin-right: 0;}
}

.footer-logo{margin-bottom: 20px;

&__firstpart{font-family: 'Raleway';
    color: var(--title-text-color);
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;}

&__twopart{color: var(--accent-color);}  
}

.footer-contacts{
    // margin-right: 70px;



&__address{margin-bottom: 9px;
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;}

&__address:hover,
&__adress:focus{color: var(--accent-color);}

&__mail-tel{display: block;
    margin-bottom: 9px;
        
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

&__mail-tel:last-child{margin-bottom: 0;}

&__mail-tel:hover,
&__mail-tel:focus{color: var(--accent-color);}
       
&__following {
    /*position: relative;*/
    margin: 0;
    margin-bottom: 20px;

    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

  @media screen and (min-width:768px) {

   
    // margin-left: 76px;
      margin-bottom: 60px;
    //   padding-right: 89px;

   }

   &:first-child{
    @media screen and (min-width:768px) {
    
    
            
            margin-right: 165px;
            
    
        }
          @media screen and (min-width:1200px){
            margin-right: 70px;
          }

        &:last-child {
        @media screen and (min-width:768px){
padding-top: 5px;
        }
    }
   }

 


}

















