.title{
    margin: auto;
padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Header-img-mob.jpg);
    background-repeat: no-repeat;
    // background-size: 480px 400px;
    max-width: 480px; ;
    background-position: center;
&__name{
    margin-top: 0;
    margin-bottom: 30px;
    // max-width: 360px;
    color: var(--title-text-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.4;
     /*text-align: center;*/
    letter-spacing: 0.06em;
    text-transform: uppercase;

@media screen and (min-width:1200px) {
    font-size: 44px;
}
    }

    @media screen and (min-width:768px) {
background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
url(../images/Header-img1x-header-tablet.jpg);
max-width: 768px;    }

 @media screen and (min-width:1200px) {
     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
         url(../images/background.jpg);
    //  max-width: 1400px;
    // max-height: 600px;
     background-size: 1600px;
    max-width: 1600px;
   
    padding-top: 200px;
        padding-bottom: 200px;
  
 }

}
