/*Оформлення модального вікна*/

.modal {
    position: absolute;
    //  width: 100%;
    //  height: 100%;
    width: 100%;
    max-width: 450px;
    // overflow-y: scroll;

    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-color: var(--title-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    &__button-close {
        //  position: absolute;
        // position: relative;
        // margin-right: auto;
        // justify-content: center;
        // align-items: center;
        text-align: center;
        // top: 0px;
        // right: 0px;
    }
    &__form {
        margin: 40px;
    }

    &__text {
        margin-bottom: 12px;

        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
    }
    &__form-field {
        margin-bottom: 10px;
    }

    &__form-field label {
        display: flex;
        flex-direction: column;
        margin-bottom: 4px;
        text-align: left;

        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: var(--info-text);
    }

    &__field-agreement {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    &__form-field textarea {
        // width: 448px;
        width: 100%;
        height: 120px;
        padding-top: 12px;
        padding-left: 16px;
        padding-bottom: 0;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: none;
        resize: none;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__form-field textarea::placeholder {
        /*padding-top: 12px;
  padding-left: 16px;*/
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;

        color: rgba(117, 117, 117, 0.5);
    }

    @media screen and (min-width: 768px) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
    }
    @media screen and (max-width: 1199px) {
        overflow-y: scroll;
    }
    @media screen and (min-width: 1200px) {
        max-width: 528px;
        // height: 581px;
    }
}

.form-field--fixed {
    margin-bottom: 0;
    max-height: 137px;
}

.textarea:focus {
    border: 1px solid #2196f3;
}
