.title-section {
    margin-top: 0;
   /* margin-bottom: 50px;*/

    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    
&__margin{margin-bottom: 50px}
 @media screen and (max-width:480px) {
     display: none;
 }
 

}